/* _content/AM.Infrastructure/Component1.razor.rz.scp.css */
.my-component[b-u3kwfmvy4d] {
    border: 2px dashed red;
    padding: 1em;
    margin: 1em 0;
    background-image: url('background.png');
}
